<!DOCTYPE html>
<html>

<head>
  <title>Polyhome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="../stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/dialog-modules.css">
</head>
<body>

<form action="/dialog/authorize/decision" method="post" class="pure-form pure-form-stacked">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <fieldset>
    <div class="upper-box">
      <div>
        <div class="main-text">PolyHome</div>
      </div>
      <div class="pure-control-group labels">
        <% if(user.length>1){ %>
        <p>发现您的账户下有<span style="color:red;font-weight:normal;"><%= user.length %></span>个设备</p>
          <p>您将授权哪个设备？</p>
        <% }else if(user.length == 1){ %>
          <p>您将授权您的这个设备吗？</p>
        <% }else{ %>
          <p>抱歉您的该账户下没有任何设备</p>
        <% } %>
        <p>
          <% user.forEach(function(value,index){ %>
            <p><input type="radio" name="device_id" value="<%= value.family_id + "|,|" + value.device_id + "|,|" + value.family_name %>" checked>  <%= value.family_name %></p>
          <% }) %>
        <input name="user_id" type="hidden" value="<%= user_id %>">
        </p>
      </div>
    </div>
    <div class="bottom-box">
      <div class="pure-controls accept-cancel-buttons">
        <div>
          <% if(user.length >= 1){ %>
            <input class="pure-button pure-button-primary" type="submit" value="授权" id="allow">
            <span>&nbsp&nbsp</span>
            <input class="pure-button" type="submit" value="取消" name="cancel" id="deny">
          <% } %>
        </div>
      </div>
    </div>
  </fieldset>
</form>
<script type="application/javascript">

</script>
</body>
</html>


